Package: linux-gpib-kernel
Version: 4.2.0-1
Architecture: amd64
Maintainer: Derek Kozel <derek@bitstovolts.com>
Installed-Size: 484
Section: unknown
Priority: optional
Homepage: https://linux-gpib.sourceforge.io/
Description: A support package for GPIB (IEEE 488) hardware
  The Linux GPIB Package is a support package for GPIB (IEEE 488) hardware. The package contains kernel driver modules, and a C user-space library with Guile, Perl, PHP, Python and TCL bindings. The API of the C library is intended to be compatible with National Instrument's GPIB library.
